.contn-phto-prfl {
    width: 40px;
    height:40px; 
    overflow: hidden;
    display: flex; 
    border-radius: 50%;
    transition: transform 0.4s;
  }

  .contn-phto-prfl:hover {
    transform: scale(1.1);
  }

  /* ------------------------------------------- */

  /* The sub-contn-phto-prfl */
  .sub-contn-phto-prfl {
   
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }