.link-ftr {
    /* Layout here */
    border: 1px solid #e7e700;
    border-radius: 5px 2px;
    overflow: hidden;

    /* Decoration here */
    background-color: rgb(245, 245, 245);
    
}

.link-ftr2 {
    /* Layout here */
    border: 1px solid #e7e700;
    border-radius: 5px 2px;
    overflow: hidden;

    /* Decoration here */
    background-color: rgb(245, 245, 245);
    
}