#section1 {
    /* Layout here */
    width: 550px;
    height: 700px;
    display: flex;
    border: 1px solid rgb(209, 209, 209);

    /* Decoration here */
    background-color: azure;
}

#section2 {
    width: 650px;
    height: 700px;
    border: 1px solid rgb(209, 209, 209);
    display: grid;
}

#section2 div {
    border: 1px solid;
}
