/*This is the style for the body*/ 
body {
    margin: 0;
    padding: 0;

}
.icon-page {
    grid-row: 1;
    position: relative;
    left: 600px;
}

.subcontainer {
    margin-top: 50px;
    grid-column: 1;
    grid-row: 2;
    display: grid;
}

.icon-shaddow{
    padding: 8px;
    width: fit-content;
}

.icon-shaddow3{
    padding: 6px;
}


#img-scale  {
    width: fit-content;
}

.contn-icon {
    display: flex;
    justify-content: center;
}

.icon-scale {
    width: fit-content;
    overflow: hidden;
}


.icon-scale img {
    overflow: hidden;
}

.img-scale {
    overflow: hidden;
    border-radius: 8px;
    padding: 1px;
}

.contn-title {
    display: flex;
    justify-content: center;

}

.contn-link {
    display: flex;
    justify-content: center;

}

.link-text {
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: fit-content;
}

.link {
    width: fit-content;
}

.link a{
    padding: 5px;
    margin: 0;
}

.link-ftr {
    width: fit-content;
}

.link-ftr a{
    padding: 5px;
    margin: 0;
}

.contn-footer {
    width: fit-content;
    height: fit-content;
}

h2{
    width: fit-content;
}
.circle {
    width: 40px;
    height: 40px;
    border: 2px solid rgb(192, 192, 192);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contn-phto-prfl {
    width: 40px;
    height:40px; 
    overflow: hidden;
    display: flex; 
    border-radius: 50%;
    transition: transform 0.1s;
  }
  
  .contn-phto-prfl:hover {
    transform: scale(1.1);
  }
  
  .sub-contn-phto-prfl {
   
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .sub-contn-phto-prfl img {
  
    width: 100%;
  }  

/*This is the style for the header */
header {
    display: grid;
    padding: 50px;
}

header > .h-box1 {
    grid-column: 3;
    grid-row: 1;
} 

header > .h-box2 {
    grid-column: 5;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

header > .h-box3 {
    grid-column: 6;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
}

header > .h-box2 > nav  {
    width: fit-content;
}

header > .h-box2 > nav > ul {
    display: flex;
    gap: 30px;
    width: fit-content;
}

header > .h-box2 > nav > ul > li {
    list-style-type: none;
    width: fit-content;
}

/*This is the style for the @Index.html-main*/
main {
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 60px;
}

.container {
    display: grid;
}

.container > .m-box1 {
    grid-column: 1/8;
}

main > .container > .m-box1 > #article1 > #section1 > figure  {
    float: left;   
}

main > .container > .m-box1 > #article1 > #section1 > figure > img {
    border-radius: 5px;
}

main > .container > .m-box1 > #article1 > #section2 > #m-art1-sect2 {
    margin-top: 35px;
}


main > .container > .m-box1 > #article1 > #section2 > #m-art1-sect2 > h1 {
    margin-top: 23px;
    position: relative;
    bottom: 40px;
    left: 54px;
    width: fit-content;
    display: flex;
}

main > .container > .m-box1 > #article1 > #section2 > #m-art1-sect2 > h1 + p {
    margin-top: 32px;
    position: relative;
    bottom: 40px;
    
}

main > .container > .m-box1 > #article1 > #section2 > h2 {
    text-align: center;
    position: relative;
    left: 250px;
}
main > .container > .m-box1 > #article1 > #section2 > h2 {
    display: flex;
    width: fit-content;   
}

.container > .m-box2 {
    grid-column: 5/7;
    grid-row: 2;
    margin-top: 80px;
}

.container > .m-box2 > article {
    display: flex;
    gap: 30px;
}

#article2{
    display: flex;
}

.container > .m-box3 {
    grid-column: 1/8;
    grid-row: 3;
    text-align: center;
    margin-top: 100px ;
    
}

.container > .m-box3 > article > p{
    padding: 0px 50px 0px 50px;
    
}

.container > .m-box4 {
    grid-column: 1/7;
    grid-row: 4;
    margin-top: 80px;
    margin-left: 4px;
}

.container > .m-box5  {
    grid-column: 3/8;
    grid-row: 5;
    margin-top: 160px;
}

#article5{
    display: flex;
    gap: 12px;
}

.container > .m-box6 {
    grid-column: 1/8;
    grid-row: 6;
    text-align: center;
    /*background-color: rgb(230, 230, 230);
    border-radius: 5px;*/
    margin-top: 250px;
    /*border: 1px solid rgb(240, 240, 140);*/
}

/*This is the style for main @History.html-main*/
.container > .subcontainer > #History-m-box1 {
    grid-column: 1;
    grid-row: 1;
}

.container > .subcontainer > #History-m-box2 {
    grid-column: 2;
    grid-row: 1;
}

.container > .subcontainer > #History-m-box3 {
    grid-column: 3;
    grid-row: 1;
}

.container > .subcontainer > #History-m-box3 > #History-2nd-h1{
    text-align: center;
}

/*This is the style for the footer*/
footer {
    margin-top: 60px;
}

.box1  {
    grid-column: 1/8;
    grid-row: 1;
    padding-right: 2rem;
}

.box1 > ul {
    display: flex;
    gap: 40px;


}

.box1 > ul > div > li {
    padding: 10px;
}

.box1 > ul > li > .footer-icon {
    display: flex;
    justify-content: center;
}




.box2  {
    grid-column: 7/8;
    grid-row: 2;
}

.box2 > ul {
    display: flex;
    gap: 9px;
}

.box3  {
    grid-column: 1/8;
    grid-row: 3;
    text-align: center;
}

.box2 h3 {
   width: fit-content;
}


/*This is the style for @Connexion.html-main*/
#container > .logo{
    grid-column: 2;
    grid-row: 1;
}

#container > #Connexion-box2{
    grid-column: 2;
    grid-row: 2; 
}

#container > #Connexion-box2 > form {
    display: grid;
    
}

#container > #Connexion-box2 > form > #label1{
    grid-column:1;
    grid-row: 1;
    
}

#container > #Connexion-box2 > form > #btn{
    grid-column:1;
    grid-row: 3;    
}

#container > #Connexion-box2 > form > #label2{
    grid-column:1;
    grid-row: 2;
    
}


#container > #Connexion-box3{
    grid-column: 2;
    grid-row: 3;
}

/*This is the style for Registration.html*/
.container > #Regist-box2 {
    grid-column:2;
    grid-row: 3;    
}

.container > #Regist-box2 > form {
    display: grid;
    
}

.container > #Regist-box2 > form > #label1{
    grid-column:1;
    grid-row: 1;
    
}

.container > #Regist-box2 > form > #label2{
    grid-column:1;
    grid-row: 2;
    
}

.container > #Regist-box2 > form > #label3{
    grid-column:1;
    grid-row: 3;
    
}

.container > #Regist-box2 > form > #label4{
    grid-column:1;
    grid-row: 4;
    
}

.container > #Regist-box2 > form > #label5{
    grid-column:1;
    grid-row: 5;
    
}

/*.container > #Regist-box2 > form > #input1{
    grid-column:1;
    grid-row: 6;   
}

.container > #Regist-box2 > form > #input2{
    grid-column:1;
    grid-row: 7;   
}*/

.container > #Regist-box3 {
    grid-column: 2;
    grid-row: 4;    
}